:root {
    --primary: #2563eb;
    --success: #16a34a;
    --error: #dc2626;
    --bg: #f1f5f9;
    --dark: #1e293b;
}

body {
    font-family: -apple-system, sans-serif;
    background-color: var(--bg);
    margin: 0;
    padding-bottom: 120px;
}

.header {
    
    background: var(--dark);
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.tabs {
    display: flex;
    background: white;
    padding: 10px;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tab-btn {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #e2e8f0;
    font-weight: bold;
    font-size: 1rem;
    color: #64748b;
    cursor: pointer;
}

.tab-btn-danger {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #bb2124;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.tab-btn-ok {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #22bb33;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.tab-btn.active {
    background: var(--primary);
    color: white;
}

.contenedor-mangueras {
    padding: 10px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border-left: 8px solid #cbd5e1;
}

.card-botones {
	display: flex;
justify-content: center;
    background: white;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border-left: 8px solid #cbd5e1;
}


.card.ready {
    border-left-color: var(--success);
    background: #f0fdf4;
}

.card.error {
    border-left-color: var(--error);
    background: #fef2f2;
}

.manguera-info {
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    color: var(--dark);
}

.precio-tag {
    font-size: 0.8rem;
    background: #e2e8f0;
    padding: 2px 6px;
    border-radius: 4px;
}

.input-row {
    display: column;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.input-row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}


label {
    font-size: 0.75rem;
    color: #64748b;
    text-transform: uppercase;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    border: 2px solid #e2e8f0;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 4px;
}

.resultado-box {
    margin-top: 12px;
    padding-top: 10px;
    border-top: 1px dashed #cbd5e1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.litros-valor {
    color: var(--primary);
    font-weight: 800;
    font-size: 1.1rem;
}

.importe-valor {
    color: var(--success);
    font-weight: 800;
    font-size: 1.1rem;
}

.footer-total {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--dark);
    color: white;
    padding: 15px;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-sizing: border-box;
}

.total-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-line span {
    font-size: 0.9rem;
}

.total-line strong {
    font-size: 1.2rem;
    color: #60a5fa;
}

.mode-selector { display: flex; padding: 10px; gap: 10px; background: var(--dark); }
        .mode-btn { flex: 1; padding: 12px; border: none; border-radius: 6px; font-weight: bold; background: #475569; color: #cbd5e1; }
        .mode-btn.active { background: white; color: var(--dark); }


.playero-row {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    background: #f8fafc;
    border-bottom: 1px solid #cbd5e1;
}
.playero-row label {
    font-size: 0.8rem; 
    font-weight: bold;
}
.playero-row input {
    padding: 4px 6px;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid #cbd5e1;
    flex: 1;
}

.dialog {
  position: fixed;
  top:0; left:0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  z-index:1000;
}
.dialog input, .dialog button {
  margin: 5px;
  padding: 8px;
  font-size: 16px;
}

.headerturno{
  position: sticky;       /* hace que el header siga visible al hacer scroll */
    top: 0;                 /* se queda pegado a la parte superior */
    z-index: 500;           /* siempre encima de otros elementos */
    width: 100%;
    background: #222;
    color: #fff;
    font-size: 14px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}